body,html{
    margin: 0;
    height:100%;   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/car-bg.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
}

.center{
    text-align: center;
    color: white;
    max-width: 50%;
    font-family: 'Ubuntu', sans-serif;
}

#profile_image{
    width: 150px;
    height: 150px;
    border-radius: 85px;
    border: 5px solid white; 
}
